/* impostazioni distanza righe */
.row1 {
  margin-top: 6vh;
  margin-bottom: 6vh;
  padding: 2%;
  text-align: center;
}
/* fine impostazioni distanza righe */

/* regole generali scritte */
.container {
  margin-right: auto;
}

.container h1 {
  margin: 1vh 0;
  font-size: 300%;
}
.container h3 {
  margin: 2vh 0;
  font-size: 160%;
}
.container p {
  font-size: 120%;
  margin: 1vh 0;
}
/* fine regoli generali scritte */

/* regola background grigio */
.container.grey {
  background-color: #f9f9f9;
}
/* fine regola background grigio */

/* regola generali immagini */
img {
  height: 200px;
  max-width: 200px;
  width: 100%;
}
/* fine regola generali immagini */

/* regola specifica immagini why */
#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  margin-top: 2vh;
}
/* fine regola specifica immagini why */

/* regole specifiche progetto di adattamento schermo */
@media screen and (min-width:772px) and (max-width:1200px) {
  #lezioni,
  #why{
    background-color: #f5f5c9;
  }
}
@media screen and (max-width:772px) {
/* Specifiche */
#lezioni .container,
#why .container {
  background-color: #f5f5c9;
}
}
/* fine regole specifiche */
